.d-flex {
  display: flex;
  flex-direction: row;
}

$baseFontSize: 1.5rem;

@for $i from 1 through 6 {
  .fs-#{$i} {
    font-size: $baseFontSize / $i + 1rem;
    line-height: $baseFontSize / $i + 1.2rem;
  }
}

$baseSize: 5px;

@for $i from 0 through 5 {
  .m-#{$i} {
    margin: $baseSize * $i;
  }
  .mb-#{$i} {
    margin-bottom: $baseSize * $i;
  }
  .mt-#{$i} {
    margin-top: $baseSize * $i;
  }
  .ms-#{$i} {
    margin-left: $baseSize * $i;
  }
  .me-#{$i} {
    margin-right: $baseSize * $i;
  }
  .mx-#{$i} {
    margin-left: $baseSize * $i;
    margin-right: $baseSize * $i;
  }
  .my-#{$i} {
    margin-top: $baseSize * $i;
    margin-bottom: $baseSize * $i;
  }
}

.flex-column {
  flex-direction: column;
}

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@each $name, $value in $breakpoints {
  .flex-#{$name}-row {
    @media only screen and (min-width: $value) {
      flex-direction: row;
    }
  }

  .flex-#{$name}-column {
    @media only screen and (min-width: $value) {
      flex-direction: column;
    }
  }

  .align-items-#{$name}-start {
    @media only screen and (min-width: $value) {
      align-items: start;
    }
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: 100% / 12 * $i;
  }
}

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@each $name, $value in $breakpoints {
  @for $i from 1 through 12 {
    .col-#{$name}-#{$i} {
      @media only screen and (min-width: $value) {
        width: 100% / 12 * $i;
      }
    }
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.fw-bold {
  font-weight: bold;
}
